<div class="group">
    <div class="group-heading">
        <h2 class="text">Create Group</h2>
    </div>
    <div class="group-header">
        <div class="card">
            <img src="../../../assets/images/avatar.png" alt="Avatar" style="width:100%">
            <div>
                <p>group Logo</p>
            </div>
        </div>
        <div>
            <span>Name</span>
            <span>Description</span>
        </div>
        <div>
            <input type="text" placeholder="group name" />
            <input type="text" placeholder="group description" />
        </div>
    </div>
    <div class="group-list">
        <ng-container *ngFor="let user of users">
            <div class="card">
                <div class="img-container">
                    <img src="{{user.Image}}" alt="Avatar">
                </div>
                <div class="container">
                    <h4><b>{{user.name}}</b></h4>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="group-btn">
        <button>UPDATE</button>
        <button>REMOVE</button>
    </div>
</div>